form {
  padding:15px;
  max-width:500px;
  margin: 0 auto
}

form > div {
  /* margin-top: 15px; */
}

input[type="text"], [type="password"] {
  margin: 0 auto;
  background-color: var(--white);
}

div > label {
  text-transform: uppercase;
  color: var(--darkgrey);
  font-size: small;
  font-weight: bold;
  display:block;
  padding-bottom: 5px;
}

button.button {
  margin-top:30px;
}

button[type="submit"] {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0 5px 5px 0 var(--grey);
}

button[type="submit"]:hover {
  color: var(--white);
}

